.header
  cf()
  max-height: 10%
  .logo
    col(1/2)
    img
      width: 30%
      min-width: 300px
      margin: 0.3em
      display: inline-block
    h2
      text-transform: uppercase
      color: orange
      font-weight: 300
      font-size: 1em
      display: inline-block
      letter-spacing: 0.05em
      vertical-align: top
      padding-top: 0.25em
      position: relative
      left: -0.5em
  .nav
    col(1/2)
    text-align: right
    position: relative
    .btn
      border-radius: 8px
      border-bottom-width: 5px
      &:active
        top: 3px !important

    .btn-home
      background: #fff url('images/icon-home.svg') no-repeat center center
      background-size: 55%
      width: 45px
      height: 45px
      text-indent: 9999px
      overflow: hidden

    .btn-cart
      background: #fff url('images/icon-cart.svg') no-repeat center center
      background-size: 55%
      width: 45px
      height: 45px
      text-indent: 9999px
      overflow: hidden

    .btn-username
      height: 45px
      line-height: 0.25em
      text-transform: none
      color: #6D6E71
      float: right
      cursor: default
      &:active
        top: 0 !important
        border-width: 5px
        border-color: #A7A9AC !important

    .btn-logout
      background-color: #D0112B
      border-color: #8B1F25
      border-radius: 5px
      color: #fff
      position: relative
      margin-top: -0.15em
      right: -0.75em
      border-width: 3px
      height: 30px
      line-height: 1.1em
      &:active
        top: 2px !important

    .btn-login
      color: #fff
      background-color: #6D6E71
      border-color: #414042
      height: 45px
      float: right
      line-height: 2em

