.page-home
  z-index: 900
  background: #C7571D url('images/home-bg.svg')
  background-size: 3%
  height: 100%
  width: 100%
  position: absolute
  top: 0
  left: 0
  text-align: center
  color: #fff
  h1
    margin-top: 0.35em
    margin-bottom: 0.15em
    img
      max-width: 500px
      min-width: 300px
      padding-top: 1em
  &.animate
    animation-duration: 800ms
    animation-fill-mode: both
    animation-name: slideUp
    animation-delay: 1s

