#slippers
  width: 100%
  height: 550px
  margin: 2em

#slippers-container
  #left, #right
    transform-origin: center center

#slippers-container.has-active
  #left, #right
    opacity: 0.6
    transform: scale(0.8)
    &.active
      opacity: 1
      transform: scale(1)

